////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// COLORS

$black: #000;
$white: #fff;
$yellow: rgb(254, 233, 52);
$blue: rgb(73, 191, 252);
$red: rgb(228, 81, 34);

.bg-blue {
    background-color: $blue;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-red {
    background-color: $red;
}