////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Typography

$fontpath: "./../../fonts/";

@font-face {
    font-family: 'MessinaSansWeb-Black';
    src: url("#{$fontpath}MessinaSansWeb-Black.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-Black.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-Black.woff") format('woff');
}

@font-face {
    font-family: 'MessinaSansWeb-BlackItalic';
    src: url("#{$fontpath}MessinaSansWeb-BlackItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-BlackItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-BlackItalic.woff") format('woff');
}

@font-face {
    font-family: 'MessinaSansWeb-Bold';
    src: url("#{$fontpath}MessinaSansWeb-Bold.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-Bold.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-Bold.woff") format('woff');
}

@font-face {
    font-family: 'MessinaSansWeb-BoldItalic';
    src: url("#{$fontpath}MessinaSansWeb-BoldItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-BoldItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-BoldItalic.woff") format('woff');
}

@font-face {
    font-family: 'MessinaSansWeb-Book';
    src: url("#{$fontpath}MessinaSansWeb-Book.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-Book.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-Book.woff") format('woff');
}

@font-face {
    font-family: 'MessinaSansWeb-BookItalic';
    src: url("#{$fontpath}MessinaSansWeb-BookItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-BookItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-BookItalic.woff") format('woff');
}

@font-face {
    font-family: 'MessinaSansWeb-Light';
    src: url("#{$fontpath}MessinaSansWeb-Light.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-Light.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-Light.woff") format('woff');
}

@font-face {
    font-family: 'MessinaSansWeb-LightItalic';
    src: url("#{$fontpath}MessinaSansWeb-LightItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-LightItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-LightItalic.woff") format('woff');
}

@font-face {
    font-family: 'MessinaSansWeb-Regular';
    src: url("#{$fontpath}MessinaSansWeb-Regular.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-Regular.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-Regular.woff") format('woff');
}

@font-face {
    font-family: 'MessinaSansWeb-RegularItalic';
    src: url("#{$fontpath}MessinaSansWeb-RegularItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-RegularItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-RegularItalic.woff") format('woff');
}

@font-face {
    font-family: 'MessinaSansWeb-SemiBold';
    src: url("#{$fontpath}MessinaSansWeb-SemiBold.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-SemiBold.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-SemiBold.woff") format('woff');
}

@font-face {
    font-family: 'MessinaSansWeb-SemiBoldItalic';
    src: url("#{$fontpath}MessinaSansWeb-SemiBoldItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-SemiBoldItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-SemiBoldItalic.woff") format('woff');
}

body {
    font-family: 'MessinaSansWeb-Regular', serif;
}

@mixin main-menu {
    font-family: 'MessinaSansWeb-Regular', serif;
    font-size: 25px;
    line-height: 35px;
    text-decoration: none;

    @include media-medium-up {
        font-size: 40px;
        line-height: 55px;
    }
    @include media-large-up {
        font-size: 45px;
        line-height: 60px;
    }
}

@mixin sub-menu {
    font-family: 'MessinaSansWeb-Regular', serif;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;

    @include media-medium-up {
        font-size: 25px;
        line-height: 30px;
    }
    @include media-large-up {
        font-size: 30px;
        line-height: 35px;
    }
}

@mixin h2 {
    font-family: 'MessinaSansWeb-Regular', serif;
    font-size: 17px;
    line-height: 21px;
    @include media-medium-up {
        font-size: 23px;
        line-height: 28px;
    }
    @include media-large-up {
        font-size: 32px;
        line-height: 40px;
    }
}

@mixin h3 {
    font-family: 'MessinaSansWeb-Regular', serif;
    font-size: 15px;
    line-height: 18px;
    @include media-medium-up {
        font-size: 20px;
        line-height: 25px;
    }
    @include media-large-up {
        font-size: 22px;
        line-height: 25px;
    }
}

@mixin text-link {
    font-size: 11px;
    line-height: 15px;

    @include media-medium-up {
        font-size: 15px;
        line-height: 20px;
    }
}

.wysiwyg {
    padding: 10px 0;

    h2 {
        @include h2;
    }

    h3 {
        @include h3;
    }

    p {
        a {
            @include text-link;
        }
    }

    ul {
        padding-left: 20px;
        li {
            padding-left: 10px;
        }
    }
}
