////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Typography

$fontpath: "./../../fonts/";

@font-face {
    font-family: 'MessinaSansWeb-Black';
    src: url("#{$fontpath}MessinaSansWeb-Black.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-Black.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-Black.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MessinaSansWeb-BlackItalic';
    src: url("#{$fontpath}MessinaSansWeb-BlackItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-BlackItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-BlackItalic.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MessinaSansWeb-Bold';
    src: url("#{$fontpath}MessinaSansWeb-Bold.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-Bold.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-Bold.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MessinaSansWeb-BoldItalic';
    src: url("#{$fontpath}MessinaSansWeb-BoldItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-BoldItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-BoldItalic.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MessinaSansWeb-Book';
    src: url("#{$fontpath}MessinaSansWeb-Book.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-Book.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-Book.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MessinaSansWeb-BookItalic';
    src: url("#{$fontpath}MessinaSansWeb-BookItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-BookItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-BookItalic.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MessinaSansWeb-Light';
    src: url("#{$fontpath}MessinaSansWeb-Light.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-Light.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-Light.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MessinaSansWeb-LightItalic';
    src: url("#{$fontpath}MessinaSansWeb-LightItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-LightItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-LightItalic.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MessinaSansWeb-Regular';
    src: url("#{$fontpath}MessinaSansWeb-Regular.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-Regular.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-Regular.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MessinaSansWeb-RegularItalic';
    src: url("#{$fontpath}MessinaSansWeb-RegularItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-RegularItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-RegularItalic.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MessinaSansWeb-SemiBold';
    src: url("#{$fontpath}MessinaSansWeb-SemiBold.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-SemiBold.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-SemiBold.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MessinaSansWeb-SemiBoldItalic';
    src: url("#{$fontpath}MessinaSansWeb-SemiBoldItalic.eot?#iefix") format('embedded-opentype'),
    url("#{$fontpath}MessinaSansWeb-SemiBoldItalic.woff2") format('woff2'),
    url("#{$fontpath}MessinaSansWeb-SemiBoldItalic.woff") format('woff');
    font-display: swap;
}

body {
    font-family: 'MessinaSansWeb-Regular', serif;
}

@mixin article {
    font-family: 'MessinaSansWeb-Regular', serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;

    @include media-medium-up {
        font-size: 15px;
        line-height: 20px;
    }

    @include media-large-up {
        font-size: 17px;
        line-height: 25px;
    }
}

@mixin main-menu {
    font-family: 'MessinaSansWeb-Regular', serif;
    font-size: 25px;
    line-height: 35px;
    text-decoration: none;

    @include media-medium-up {
        font-size: 40px;
        line-height: 55px;
    }

    @include media-large-up {
        font-size: 45px;
        line-height: 60px;
    }
}

@mixin font-menu {
    font-family: 'MessinaSansWeb-Bold', serif;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: $black;
    transition: color 250ms;

    &:hover {
        color: $red;
    }

    @include media-medium-up {
        font-size: 20px;
        line-height: 30px;
    }
}

@mixin font-footer {
    font-family: 'MessinaSansWeb-Bold', serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: $black;

    a {
        color: $black;
    }

    @include media-medium-up {
        font-size: 16px;
        line-height: 20px;
    }
}

@mixin bold-content {
    font-family: 'MessinaSansWeb-Bold', serif;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    color: $black;

    a {
        color: $black;
    }

    @include media-medium-up {
        font-size: 30px;
        line-height: 38px;
    }
}

@mixin h1 {
    font-family: 'MessinaSansWeb-Bold', serif;
    font-size: 40px;
    line-height: 47px;
    text-decoration: none;
    color: $black;

    @include media-medium-up {
        font-size: 45px;
        line-height: 50px;
    }

    @include media-large-up {
        font-size: 60px;
        line-height: 64px;
    }

}

@mixin h1-sub {
    font-family: 'MessinaSansWeb-Bold', serif;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: $black;

    @include media-medium-up {
        font-size: 20px;
        line-height: 25px;
    }

    @include media-large-up {
        font-size: 25px;
        line-height: 46px;
    }

}

@mixin header-text {
    font-family: 'MessinaSansWeb-Bold', serif;
    text-decoration: none;
    color: $black;
    font-size: 14px;
    line-height: 18px;

    @include media-medium-up {
        font-size: 18px;
        line-height: 22px;
    }

    @include media-large-up {
        font-size: 20px;
        line-height: 26px;
    }

    a {
        color: $blue;
    }
}

@mixin h2 {
    font-family: 'MessinaSansWeb-Bold', serif;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;
    color: $black;

    @include media-medium-up {
        font-size: 35px;
        line-height: 41px;
    }

    @include media-large-up {
        font-size: 44px;
        line-height: 50px;
    }
}

@mixin h3 {
    font-family: 'MessinaSansWeb-Regular', serif;
    font-size: 15px;
    line-height: 18px;

    @include media-medium-up {
        font-size: 20px;
        line-height: 25px;
    }

    @include media-large-up {
        font-size: 22px;
        line-height: 25px;
    }
}

@mixin text-link {
    font-size: 11px;
    line-height: 15px;

    @include media-medium-up {
        font-size: 15px;
        line-height: 20px;
    }
}

@mixin font-collapse {
    font-family: 'MessinaSansWeb-SemiBold', serif;
    font-size: 17px;
    line-height: 19px;
    text-decoration: none;
    color: $black;
    text-align: left;
}

@mixin font-collapse-h2 {
    font-family: 'MessinaSansWeb-SemiBold', serif;
    font-size: 30px;
    line-height: 15px;
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
}

@mixin tl-date {
    font-family: 'MessinaSansWeb-Bold', serif;
    font-size: 14px;
    text-decoration: none;
    color: $black;
//    text-transform: uppercase;

    @include media-medium-up {
        font-size: 14px;
    }

    @include media-large-up {
        font-size: 16px;
    }
}

@mixin tl-event {
    font-family: 'MessinaSansWeb-Bold', serif;
    font-size: 25px;
    line-height: 28px;
    text-decoration: none;
    text-transform: lowercase;
    color: $black;

    @include media-medium-up {
        font-size: 25px;
        line-height: 28px;
    }

    @include media-large-up {
        font-size: 25px;
        line-height: 28px;
    }
}

@mixin tl-button {
    font-family: 'MessinaSansWeb-Black', serif;
    font-size: 18px;
    color: $blue;
    position: relative;

    @include media-medium-up {
        font-size: 18px;
    }

    @include media-large-up {
        font-size: 20px;
    }
}

@mixin event-h2 {
    font-family: 'MessinaSansWeb-Black', serif;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: $black;

    @include media-medium-up {
        font-size: 20px;
        line-height: 25px;
    }

    @include media-large-up {
        font-size: 20px;
        line-height: 25px;
    }
}

@mixin event-btn {
    font-family: 'MessinaSansWeb-Bold', serif;
    font-size: 25px;
    line-height: 29px;
    text-decoration: none;
    color: $black;
    text-align: left;

    @include media-medium-up {
        font-size: 25px;
        line-height: 28px;
    }

    @include media-large-up {
        font-size: 30px;
        line-height: 35px;
    }
}

@mixin event-text {
    font-family: 'MessinaSansWeb-Bold', serif;
    font-size: 25px;
    line-height: 29px;
    text-decoration: none;
    color: $black;

    @include media-medium-up {
        font-size: 25px;
        line-height: 28px;
    }

    @include media-large-up {
        font-size: 30px;
        line-height: 35px;
    }
}

@mixin news-title {
    @include h2;
}

@mixin news-text {
    @include header-text;
}

@mixin bloc-date {
    @include header-text;
}

@mixin bloc-title {
    @include h2;
}

@mixin bloc-text {
    @include article;
    font-family: 'MessinaSansWeb-SemiBold', serif;
}

@mixin bloc-button {
    @include header-text;
}

@mixin org-job {
    @include header-text;
    color: $blue;
}

@mixin org-name {
    @include header-text;
}

@mixin org-email {
    @include article;

    a{
        font-family: 'MessinaSansWeb-SemiBold', serif;
        color: $black;
    }
}

.wysiwyg {
    padding: 10px 0;

    h1 {
        @include h1;
    }

    h2 {
        @include h2;
    }

    h3 {
        @include h3;
    }

    p {
        a {
            @include text-link;
        }
    }

    ul {
        padding-left: 20px;

        li {
            padding-left: 10px;
        }
    }

    strong {
        font-family: 'MessinaSansWeb-Bold', serif;
    }
}
