.mod-footer {
    background-color: $yellow;
    padding: 20px 0;
    margin-top: 50px;
    @include font-footer;

    .some-icons {
        display: flex;
        justify-content: flex-end;
        .some-icon {
            width: 30px;
            margin-left: 10px;
        }
    }
    .newsletter {
        padding-top: 10px;
        display: flex;
        justify-content: flex-end;
    }
}