.mod-organigram {
    .header {
        background: $red;
        padding: 100px;
        margin-bottom: 75px;

        @include media-medium-down {
            padding: 50px;
        }

        @include media-small {
            padding: 25px;
        }


        h1 {
            @include h1;
            margin-bottom: 50px;
            position: relative;

            @include media-medium-down {
                margin-bottom: 25px;
            }

            @include media-small {
                margin-bottom: 10px;
            }
        }

        p {
            @include header-text;
        }
    }

    .org-container {

        h2 {
            @include h2;
            margin-bottom: 15px;
        }

        .contact-row {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 25px;

            .contact {
                margin-right: 25px;
                background: $yellow;
                margin-bottom: 50px;

                .img-container {
                    width: 150px;
                    height: 110px;
                    position: relative;
                    overflow: hidden;

                    @include media-medium-up {
                        width: 250px;
                        height: 185px;
                    }

                    @include media-large-up {
                        width: 300px;
                        height: 225px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                .info-container {
                    padding: 10px;
                    width: 150px;
                    
                    @include media-medium-up {
                        width: 250px;
                    }

                    @include media-large-up {
                        width: 300px;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                    }

                    .org-job {
                        margin-bottom: 15px;
                        @include bloc-text;
                        color: $black;
                    }

                    .org-name {
                        @include news-text;
                    }

                    .org-contact {
                        @include bloc-text;

                        a {
                            color: $black;
                            text-decoration: underline
                        }
                    }
                }
            }

            &:nth-of-type(1) {

                .contact {
                    background: $yellow;
                }
            }

            &:nth-of-type(2) {
                .contact {
                    background: $blue;
                }
            }

            &:nth-of-type(3) {
                .contact {

                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        background: $red;
                    }

                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        background: $blue;
                    }

                    &:nth-of-type(5),
                    &:nth-of-type(6) {
                        background: $yellow;
                    }

                    &:nth-of-type(7),
                    &:nth-of-type(8) {
                        background: $black;

                        p,
                        a {
                            color: $white;
                        }
                    }

                    &:nth-of-type(9),
                    &:nth-of-type(10) {
                        background: $red;
                    }

                    &:nth-of-type(11),
                    &:nth-of-type(12) {
                        background: $yellow;
                    }

                    &:nth-of-type(13),
                    &:nth-of-type(14) {
                        background: $blue;
                    }
                }
            }
        }
    }
}