.contact-row {
}
.contact {
    padding: 10px;
}
.contact-info {
    margin-right: 50px;
    height: 250px;
    border: 10px solid red;

    .img-container {
        height: 180px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

}