@include media-large-up {
    .container {
        max-width: 1400px;
    }
}

body.menu-active {
    overflow: hidden;
}

.cn-buttons-container {
    .button {
        padding: 10px;
        margin: 5px;
        display: inline-block;
        background: $yellow;
        color: $red;
    }
}