.mod-content {
    .content-element--text-bild {
        margin-bottom: 50px;

        .text {
            margin: 20px 10px 10px 10px;
        }

        .content-image img {
            width: 100%;
            height: auto;
            min-height: 100%;
            object-fit: cover;
        }
    }

    .content-element--farb-bloecke {
        margin-bottom: 50px;

        .intro-title {
            h2 {
                @include h2;
            }

            margin-bottom: 15px;
        }

        .farb-block-wrapper {
            float: left;
        }

        .farb-block {
            padding: 20px;
            margin-bottom: 20px;

            .title {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                h3 {
                    @include h1-sub;
                }

                .icon {
                    height: 40px;
                    margin-right: 10px;

                    img {
                        height: 100%;
                    }
                }
            }
        }
    }

    .content-element--text-spalten {
        margin-bottom: 20px;

        h2 {
            @include h2;
        }

        .spalte-element {
            padding: 20px;

            .btn-black {
                display: inline-block;
                background-color: $black;
                padding: 15px 30px;
                font-size: 22px;
                font-weight: bold;
                color: $white;
                margin: 10px 0;
            }

            @include media-small {
                .column-count-small-reset {
                    column-count: 1 !important;
                }
            }

        }
    }

    .content-element--sidebar-blocks {
        margin-bottom: 20px;

        .element-item {
            margin-bottom: 20px;
        }

        .sidebar-element {
            background-color: $yellow;
            padding: 20px;
        }
    }

    .content-element--fp-text {

        p {
            padding: 10px;
            margin-bottom: 100px;
            position: relative;
            @include fp-text;
            width: 100%;

        }
    }
}