.mod-home {
    .post-title {
        /* example of how to use responsive mixins */
        background-color: red;
        @include media-small {
            background-color: blue;
        }
        @include media-large {
            background-color: red;
        }
        @include media-medium {
            background-color: red;
        }
        @include media-xlarge {
            background-color: #0eb5d6;
        }
        @include media-print {
            background-color: lightgray;
            color: red;
            text-decoration: underline;
        }
    }
}