.mod-news {
    .content-news {
        .news-image {
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .news-text {
            .post-link {
                color: $black;
                font-size: 2em;
            }
        }
    }

    .header {
        background: $blue;
        padding: 100px;
        margin-bottom: 50px;

        @include media-medium-down {
            padding: 50px;
        }

        @include media-small {
            padding: 25px;
        }

        .post-title {
            @include h1;
        }

        .post-intro {
            margin-top: 50px;

            @include media-medium-down {
                margin-top: 25px;
            }

            @include media-small {
                margin-top: 10px;
            }

            @include header-text;

            a {
                color: $yellow;
            }
        }
    }
}