.mod-groupes {

    .header {
        background: $yellow;
        padding: 100px;

        @include media-medium-down {
            padding: 50px;
        }

        @include media-small {
            padding: 25px;
        }

        h1 {
            @include h1;
            margin-bottom: 25px;
            position: relative;

        }

        p {
            @include header-text;
            width: 100%;

            @include media-medium-up {
                width: 600px;
            }

            @include media-large-up {
                width: 600px;
            }
        }
    }
}

.timeLine {
    margin-left: 20px;
    padding: 100px 0;
    border-left: 5px $blue solid;

    @include media-medium-up {
        margin-left: 200px;
    }

    @include media-large-up {
        margin-left: 200px;
    }


    .event {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        position: relative;
        background: $yellow;
        margin-left: 10px;
        padding: 20px;

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            background: $yellow;
            position: absolute;
            top: 30px;
            left: -10px;
        }



        @include media-medium-up {
            flex-direction: row;
            background: none;
            margin-left: 0;
            padding: 0;

            &:before {
                display: none;
            }
        }

        .keyPoint {
            position: relative;
            margin-bottom: 15px;

            @include media-medium-up {
                background: $yellow;
                margin-left: -175px;
                margin-right: 50px;
                margin-bottom: 0;
                padding-left: 25px;
                height: 75px;
                width: 200px;
            }

            .date {
                @include tl-date;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .cta-bloc {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-right: 0;
            justify-content: space-between;

            @include media-large-up {
                flex-direction: row;
                padding-right: 100px;
            }

            .eventName {
                @include h2;
                margin-bottom: 30px;

                @include media-medium-up {
                    margin-bottom: 0;
                }
            }

            button {
                align-self: flex-start;

                @include media-medium-down {
                    width: 150px;
                }


                @include media-large-up {
                    align-self: center;
                }
            }
        }
    }
}

.info {
    padding: 50px;
    position: relative;
    
     @include media-large-down {
                padding: 25px;
            }

    &:nth-child(1) {
        margin-top: -100px;
        background: $yellow;
    }

    .date {
        @include bloc-date;
        margin-bottom: 10px;
    }

    h2 {
        @include h2;
        margin-bottom: 50px;
    }

    .callToAction {
        display: flex;
        flex-direction: row;

        @include media-large-down {
            flex-direction: column;
        }

        p {
            @include bloc-text;
            width: 800px;
            margin-right: 100px;

            @include media-large-down {
                width: 100%;
                margin-right: 0;
                margin-bottom: 50px;
            }
        }

        button {
            right: 100px;
            top: 50%;
            align-self: center;
            
            @include media-large-down {
                align-self: flex-start;
            }
        }
    }

    &:nth-child(2) {

        .cover {
            background: $yellow;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0.75;

            &:hover {
                cursor: not-allowed;
            }
        }
    }

}

button {
    background: $black;
    width: 250px;
    height: 60px;
    border: none;
    @include bloc-button;
    color: $white;
}