.mod-uns-helfen {
    .below-content {
        .wrapper {
            padding: 15px;
            background-color: $red;
            color: $white;
        }

    }

    .mod-collapse {
        .collapse-title {
            background-color: $yellow;
        }
    }
}