.mod-news {

    .header {
        background: $red;
    }

    .content-news {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .row {
            display: flex;
            flex-flow: column wrap;
            width: calc(100% / 3 - 100px / 3);
            
            .news-bloc {
                width: 100%;
                height: 400px;
                background: $blue;
                margin-bottom: 50px;

                .news-image {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .news-text {
                    @include font_02;

                    .post-link {
                        color: $black;
                        font-size: 2em;
                    }
                }
            }

        }

    }

}
