.mod-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
        display: flex;
        position: relative;
        align-items: center;
        list-style: none;
        height: 100%;
        padding: 0;
        margin: 0;

        .menu-item {
            padding: 20px;

            a {
                @include font-menu;
            }

            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }

                background: $gray;
            }

            .sub-menu {
                visibility: hidden;
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                max-width: 1140px;
                display: flex;
                opacity: 0;
                justify-content: flex-start;
                padding: 1em 0;
                margin: 10px;
                list-style: none;
                z-index: 1;
                transition: all .2s;

                &:before {
                    display: block;
                    position: absolute;
                    content: " ";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: $gray;
                    margin-left: -9999px;
                    margin-right: -9999px;
                    padding-left: 9999px;
                    padding-right: 9999px;
                }

                & .menu-item {
                    position: relative;
                }

                ul {
                    flex-direction: column;
                    font-size: 10px;
                    
                    .menu-item{
                        margin-bottom: 10px;
                        padding: 0 20px;
                        box-sizing: border-box;
                        
                        a{
                            font-size: 14px;
                            line-height: 10px;
                        }
                    }

                    &:before {
                        margin: 0;
                        padding: 0;
                    }
                }
            }

            & #menu-item-106 ul:before {
                margin-left: -9999px;
                margin-right: -9999px;
                margin-bottom: -30px;
                padding-left: 9999px;
                padding-right: 9999px;
            }

        }
    }

    .navigation-wrapper {
        display: flex;
        align-items: center;

        .lang-menu {
            display: flex;
            flex-wrap: wrap;
            
            .lang-switch {

                flex: 1 50%;
            }
        }

        .search-icon {
            height: 40px;
            width: 40px;
        }
    }
}