.mod-organigram {
    .header {
        background: $red;
        padding: 100px;
        margin-bottom: 75px;

        @include media-medium-down {
            padding: 50px;
        }

        @include media-small {
            padding: 25px;
        }

        h1 {
            @include h1;
            margin-bottom: 50px;
            position: relative;

            @include media-medium-down {
                margin-bottom: 25px;
            }

            @include media-small {
                margin-bottom: 10px;
            }
        }

        .text-intro {
            @include header-text;
        }
    }

    .org-container {

        h2 {
            @include h2;
            margin-bottom: 25px;
        }

        .contact-row {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 100px;

            .contact {
                width: 100%;
                margin-bottom: 50px;
                display: flex;
                flex-direction: row;

                @include media-small-up {
                    width: 50%;
                    display: block;
                }
                @include media-medium-up {
                    width: 33%;
                }
                @include media-large-up {
                    width: 25%;
                }

                .img-container {
                    width: calc(100vw / 2 - 100px);
                    height: calc((100vw / 2 - 100px) * 1.4);
                    position: relative;
                    overflow: hidden;
                    margin-right: 15px;

                    @include media-small-up {
                        width: calc(100vw / 3 - 50px);
                        height: calc((100vw / 3 - 50px) * 1.4);
                    }

                    @include media-medium-up {
                        width: calc(100vw / 4 - 50px);
                        height: calc((100vw / 4 - 50px) * 1.4);
                        margin-right: 0;
                    }

                    @include media-large-up {
                        width: calc(100vw / 4 - 150px);
                        height: calc((100vw / 4 - 150px) * 1.4);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        object-fit: cover;
                    }
                }

                .info-container {
                    align-self: flex-end;
                    width: 200px;

                    @include media-medium-up {
                        width: auto;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                    }

                    .org-job {
                        margin-bottom: 10px;
                        @include bloc-text;
                        color: $black;
                    }

                    .org-name {
                        @include header-text;
                        padding-bottom: 5px;
                    }

                    .email-icon {
                        width: 18px;
                        height: 18px;
                        margin-right: 5px;
                    }

                    .org-contact, .org-link {
                        @include bloc-text;

                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &:nth-of-type(1) {

                .contact {
                    a {
                        color: $yellow;
                    }

                    .email-icon {
                        fill: $yellow;
                    }
                }
            }

            &:nth-of-type(2) {
                .contact {
                    a {
                        color: $blue;
                    }

                    .email-icon {
                        fill: $blue;
                    }
                }
            }

            &:nth-of-type(3) {
                .contact {

                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        a {
                            color: $red;
                        }

                        .email-icon {
                            fill: $red;
                        }
                    }

                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        a {
                            color: $blue;
                        }

                        .email-icon {
                            fill: $blue;
                        }
                    }

                    &:nth-of-type(5),
                    &:nth-of-type(6) {
                        a {
                            color: $yellow;
                        }

                        .email-icon {
                            fill: $yellow;
                        }
                    }

                    &:nth-of-type(7),
                    &:nth-of-type(8) {
                        a {
                            color: $black;
                        }

                        .email-icon {
                            fill: $black;
                        }
                    }

                    &:nth-of-type(9),
                    &:nth-of-type(10) {
                        a {
                            color: $red;
                        }

                        .email-icon {
                            fill: $red;
                        }
                    }

                    &:nth-of-type(11),
                    &:nth-of-type(12) {
                        a {
                            color: $yellow;
                        }

                        .email-icon {
                            fill: $yellow;
                        }
                    }

                    &:nth-of-type(13),
                    &:nth-of-type(14) {
                        a {
                            color: $blue;
                        }

                        .email-icon {
                            fill: $blue;
                        }
                    }
                }
            }
        }
    }
}